<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>SUBQUERY (
  extensionItems,
  $item,
  SUBQUERY (
    $item.attachments,
    $att,
    ANY $att.registeredTypeIdentifiers UTI-CONFORMS-TO "public.url" ||
    ANY $att.registeredTypeIdentifiers UTI-CONFORMS-TO "public.plain-text" ||
    ANY $att.registeredTypeIdentifiers UTI-CONFORMS-TO "public.image"
  ).@count &gt; 0
).@count &gt; 0
</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).ShareViewController</string>
	</dict>
	<key>SUPABASE_URL</key>
	<string>https://lfcbohdsmlokehpmmsav.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmY2JvaGRzbWxva2VocG1tc2F2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3NDE4NjEsImV4cCI6MjA4MTMxNzg2MX0.ZhUC4r7Mxb5ZehhfoPZe6MrQ-A4tFeETRiRp2WADCEc</string>
	<key>REVENUECAT_API_KEY</key>
	<string>$(REVENUECAT_API_KEY)</string>
</dict>
</plist>
